Minigrid/data_set/**
Minigrid/offline_data_set/**
__pycache__
Minigrid/Saved_models/**
Minigrid/log_files/**
Minigrid/results/**
Minigrid/results_partial/**

Sawyer_Robot/data_set/**
Sawyer_Robot/Saved_models/**
Sawyer_Robot/log_files/**
Sawyer_Robot/results/**
Sawyer_Robot/results_partial/**
Sawyer_Robot/checkimages/**
